* {
  margin: 0;
  padding: 0;
}
.header {
  line-height: 60px;
  background-color: #333;
}
.header-content {
  margin: 0 auto;
  width: 600px;
  color: #fff;
  font-size: 24px;
  .header-input {
    outline: none;
    float: right;
    margin-top: 15px;
    line-height: 24px;
    border-radius: 5px;
    padding: 0 10px;
    width: 360px;
  }
}
